:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --withe-text: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: "Roboto";
}

.list {
  list-style: none;
}

.decoration {
  text-decoration: none;
}

/* ---HEADER--- */
.header {
  background-color: #fff;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 1.3;
  color: #2e2f42;
}

.header-span {
  color: var(--accent-color);
}

.header-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.5;
}

.header-navigation {
  color: var(--primary-text-color);
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
}

/* ---HERO  section--- */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: var(--withe-text);
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.hero-btn {
  color: var(--withe-text);
  font-weight: 500;
  line-height: 1.5;
  background: #4d5ae5;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ---/HERO  section--- */

/* ---description section--- */

.description {
  background-color: #fff;
}

.decoration-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.2;
}

.description-text {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.2;
}

/* ---/description section--- */

/* ---WORKS section--- */

.work {
  background-color: #fff;
}

.work-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

/* ---/WORKS section--- */

/* ---TEAM section--- */

.team {
  background-color: #f4f4fd;
}

.team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-text {
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

/* ---/TEAM section--- */

/* ---footer section--- */

.footer {
  background-color: var(--primary-text-color);
}

.footer-logo {
  color: #f4f4fd;
  font-family: "Raleway";
  font-weight: 800;
  line-height: 1.1;
}

.footer-span {
  color: var(--accent-color);
}

.footer-text {
  font-weight: 400;
  line-height: 1.5;
  color: #e7e9fc;
}

/* ---/footer section--- */

/* --primary-text-color: #434455;   inherit --
--title-text-color: #2e2f42;
--accent-color: #4d5ae5;
--withe-text: #ffffff; */
/* Основной цвет текста  --  SLATE  #434455 */

/* Вторичній цвет текста  --  NAVY BLUE  #2E2F42 */

/* акцент background: #4D5AE5  SLATE */

/* белый текст #FFFFFF */

/* белый футер   color: #E7E9FC; */

/* лого  IRIS  #4D5AE5  и  NAVY BLUE  #2E2F42 
700 500 400 roboto
800 raleway*/
